:host {
  display: block;
}

.movies {
  width: 100%;

  &__search {
    border: 1px solid rgb(46, 46, 46);

    .search {

      &__input {
        &:focus {
          border: none !important;
          outline: none !important;
          border-left: 2px solid black !important;
          border-right: 2px solid black !important;
          padding-left: .5rem;
        }
      }

      &__button {
        padding: 0;
        border: none;
        background-color: transparent;
        height: 100%;
        align-content: center;
        cursor: pointer;

        &-clear {
          padding: 0 1rem;
        }

        &-search {
          align-content: center;
          padding: 0 .8rem;
        }
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}